.button {
    display: flex;             
    justify-content: center;  
    align-items: center;      
    margin: 0 4px;
    background: none;
    width: 60px;
    height: 60px;              
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  

.buttonSelected {
    background-color: #ffd700;
    /* Cor dourada suave para seleção */
    color: white;
    /* Cor da estrela quando selecionada */
}

.titulo {
    text-align: center;
}

.container {
    width: 330px;
}